@model mvcTemplate.Models.Student

<h1>Supprimer un étudiant</h1>
<p>Voulez-vous vraiment supprimer cet étudiant ?</p>
<ul>
    <li>Prénom : @Model.Firstname</li>
    <li>Nom : @Model.Lastname</li>
    <li>Âge : @Model.Age</li>
    <li>GPA : @Model.GPA</li>
    <li>Spécialisation : @Model.Major</li>
</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirmer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
