@model IEnumerable<mvc.Models.Teacher>

<h1>Teachers</h1>
<a asp-action="Create">Add New Teacher</a>

<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Actions</th>
    </tr>
    @foreach (var teacher in Model)
    {
        <tr>
            <td>@teacher.Firstname</td>
            <td>@teacher.Lastname</td>
            <td>
                <a asp-action="Details" asp-route-id="@teacher.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@teacher.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
            </td>
        </tr>
    }
</table>
